<div id="caso">

    <div class="container" style="width:75%; margin-bottom: 40px;">
      
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">
          <i class="fa fa-table"></i> Casos Registrados 

          <a class="btn btn-primary" style="float:right; color:white;" href="/caso/create-caso">+ Crear Caso</a></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Monto</th>
                  <th> </th>
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </tfoot> -->
              <tbody>
                <tr>
                  <td>100001</td>
                  <td>Pedro Perez</td>
                  <td>un@email.com</td>
                  <td>8291111111</td>
                  <td>RD$ 60000</td>
                  <td> <a href="/caso/read-caso" class="fa fa-eye"></a>  - <a href="/caso/edit-caso" class="fa fa-edit"></a> - <a href="/caso/delete-caso" class="fa fa-trash"></a></td>
                </tr>
                <tr>
                  <td>100002</td>
                  <td>Garrett Winters</td>
                  <td>otro@email.com</td>
                  <td>8292222222</td>
                  <td>RD$ 12000</td>
                  <td> <a href="/caso/read-caso" class="fa fa-eye"></a>  - <a href="/caso/edit-caso" class="fa fa-edit"></a> - <a href="/caso/delete-caso" class="fa fa-trash"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

    </div>
  

</div>