<div id="create-caso">

  
    <div class="container" style="width:75%; margin-bottom: 40px;">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registrar Nuevo Caso</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Cliente</label>
                  <input class="form-control" id="patient-name" type="text">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Monto</label>
                  <input class="form-control" id="patient-id" type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Fecha de Notificación</label>
                  <input class="form-control" id="patient-id" type="date">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">Observaciones</label>
                  <textarea class="form-control" id="patient-alergies" rows="6" cols="20"></textarea> 
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="/caso/caso">Registrar</a>
          </form>
        </div>
      </div>
    </div>
  

</div>