<div id="read-caso">

  
    <div class="container" style="width:75%; margin-bottom: 40px;">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Caso ID 100001</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Nombre de Cliente</label>
                </div>
                <div class="col-md-6">
                  <a id="patient-name">Pedro Perez</a>
                </div><div class="col-md-6">
                  <label for="exampleInputName">Monto</label>
                </div>
                <div class="col-md-6">
                  <a id="patient-id">RD$ 60000</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Email</label>
                </div>
                <div class="col-md-6">
                  <a id="patient-id">un@email.com</a>
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Teléfono</label>
                </div>
                <div class="col-md-6">
                  <a id="patient-address">+8291111111</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">Observaciones</label>
                </div>
              </div>
                <div class="col-md-12">
                  <a>Avenida con calle y numero de casa.</a> 
                </div>
            </div>
            <a class="btn btn-primary btn-block" href="/caso/caso">Volver</a>
          </form>
        </div>
      </div>
    </div>
  

</div>