<div id="edit-cliente">

  
    <div class="container" style="width:75%; margin-bottom: 40px;">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Editar Registro de Cliente</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Nombre</label>
                  <input class="form-control" id="patient-name" type="text" placeholder="Pedro Perez">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Cedula</label>
                  <input class="form-control" id="patient-id" type="text" placeholder="12345678">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Email</label>
                  <input class="form-control" id="patient-id" type="email" placeholder="un@email.com">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputName">Telefono</label>
                  <input class="form-control" id="patient-address" type="text" placeholder="+18291111111">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">Dirección</label>
                  <textarea class="form-control" id="patient-alergies" rows="6" cols="20" placeholder="Av con calle y numero de casa."></textarea> 
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="/cliente/cliente">Registrar</a>
          </form>
        </div>
      </div>
    </div>
  

</div>